body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    background-color: #b5b2b2;
    box-sizing: border-box;
}

.container {
    width: 600px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
}

.left-column {
    width: 40%;
    padding: 20px;
    background-color: #f6fed1;
}

.right-column {
    width: 60%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    border-left: 1px solid #000;
}

img {
    max-width: 100%;
    width: 170px;
    height: 200px;
    border-radius: 50%;

}

h1, h2, h3 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}
h1 {
    text-indent: 40px;
    text-shadow: #b5b2b2 3px 3px;

}
